<div class="col s12 m10 l10 offset-l1">
  <section class="row top-view">
    <h2>Find your Scholarship</h2>
    <%= form_tag(root_path,:method => 'get') do %>
      <div class="col s12 m5 l5">

        <%= label :search, "あなたの現在の状況を選択してください"%>
        <%= select_tag :search, options_for_select([["現在、高校生",1],["現在、大学生",2]],:prompt => "選択してください") %>

        <%= label :types, "希望する奨学金の型をおしえてください"%>
        <%= select_tag :types, options_for_select([["貸与型",1],["給付型",2]]) %>

        <%= label :purposes, "奨学金の目的をおしえてください"%>
        <%= select_tag :purposes, options_for_select([["生活費のため",1],["留学のため",2]]) %>

        <%= submit_tag 'この条件で探す', :name => nil, class:"waves-effect waves-light btn-large"%>
      </div>
      <div class="col s12 m7 l7">

        <!--        <h2>Find your Scholarship</h2>-->
      </div>
    <% end %>
  </section>

  <div class="divider"></div>
  <section>
    <h5 >あなたに合った奨学金一覧</h5>
    現在の検索状況：<%= @params %>
    <% if @scholarships.present? %>
      <% @scholarships.each do |scholarship| %>
        <div class="card">
          <a href="<%= scholarship.url %>">
            <div class="card-content ">
              <span class="card-title"><%= scholarship.name %></span>
              <span>出願期間：<%= scholarship.start_date %>から</span>
              <span><%= scholarship.close_date %>まで</span>
              定員：<span><%= scholarship.capacity %>名</span>
              <span><%= scholarship.types %></span>
              <span><%= scholarship.purposes %></span>
            </div>
          </a>
        </div>
      <% end %>
      <% else %>
        <div class="card-panel light-blue lighten-5">現在、その条件に当てはまる奨学金はみつかりませんでした...</div>
    <% end %>
  </section>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>