<!DOCTYPE html>
<html>
  <head>
    <title>Scalarship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>

  <body>
<!--  Navbar-->
  <nav class="nav-wrapper transparent">
    <div>
      <a href="/" class="brand-logo">Scholarship</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down blue-text accent-4">
        <li>
          <%= link_to 'admin', new_scholarship_path, class:"blue-text accent-4" %>
        </li>
        <li>
          <%= link_to 'admin_index', admin_index_path, class:"blue-text accent-4" %>
        </li>
      </ul>
    </div>
  </nav>
<!--content-->
<!--  <div class="container content-wrapper">-->
    <div class="row real-content">
      <%= yield %>
    </div>
<!--  </div>-->

<!--footer-->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Scholarship</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 Copyright Joe Nakamura
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </body>
</html>


